<p id="notice"><%= notice %></p>

<p>
  <strong>Valor da taxa:</strong>
  R$ <%= @simulation.valorTaxa %>
</p>

<p>
  <strong>Valor a receber:</strong>
  R$ <%= @simulation.valorReceber %>
</p>

<%= link_to 'Simular novamente', simulations_path %>
